<%= form_with(model: [@current_user, @order], format: 'json', html: { 'data-product-target' => 'form' }) do |form| %>
  <div class="line-items" data-product-target="lineItems">
    <%= form.fields_for :line_items, @line_items do |line_item| %>
      <div>
        <%= line_item.hidden_field :product_id, value: line_item.object.product_id %>
        <div class="stock-error bg-danger" data-product-target="stockError"></div>
        <%= line_item.label :quantity, 'Quantity' %>
        <div class="d-flex align-items-center">
          <%= line_item.text_field :quantity, readonly: true, value: line_item.object.quantity, class: 'quantity', data: { "product-target" => "quantity" } %>
          <div class="p-4">
            <div class="increment" data-action="click->product#increment"><i class="fa-solid fa-caret-up"></i></div>
            <div class="decrement" data-action="click->product#decrement"><i class="fa-solid fa-caret-down"></i></div>
          </div>
        </div>
      </div>
    <% end %>
    <%= form.submit 'Add to Cart', class: "btn btn-warning", data: { 'action' => 'click->product#submitForm', 'product-target': 'sendButton' } %>
  </div>
<% end %>
