<div data-controller="product">
  <section class='row'>
    <div class="carousel col-6">
      <%= display_pictures(@product.images) %>
      <%= display_miniatures(@product.images) %>
    </div>
    <div class="product-info col-6">
      <h3 class="name"><%= @product.title %><h3>
      <p><%= @product.description %></p>
      <h3>Price</h3>
      <div class="d-flex">
        <div>
          <h4>In stock</h4>
          <div class="stock" data-product-target="stock"><%= @product.stock %></div>
        </div>
        <div>
          <h4>Price</h4>
          <div class="price" data-product-target="price"><%= @product.price %></div>
        </div>
      </div>
      <%= render 'orders/form_short', user: @current_user, order: @order, product: @product  %>
      <div>
        <div data-product-target='message'></div>
        <label>Total</label>
        <div class="total" data-product-target="total"></div>
      </div>
    </div>
  </section>
  <section>
  </section>
</div>
