<!DOCTYPE html>
<html>
  <head>
    <title>LaTiendaVirtual</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container-fluid min-vh-100">
    <header class="bg-warning min-vh-25">
      <% flash.each do |type, message| %>
        <div class="<%= flash_css_classes(type) %>">
          <%= message %>
        </div>
      <% end %>
      <%= render "#{@current_user ? 'shared/menu' : 'shared/menu_auth' }" %>
    </header>
    <main class="bg-light">
      <%= yield %>
    </main>
    <footer class="bg-info min-vh-25 d-flex align-items-center justify-content-center">
      <%= render 'shared/footer_menu' %>
    </footer>
  </body>
</html>
